body{margin: 0px; text-decoration: none; padding: 0px; background-image: url(./image/imagem\ de\ fundo.jpg); background-repeat: no-repeat; background-size: cover;}




.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.master{
    display: flex;
    justify-content: center;
    background-color: rgba(23, 23, 23, 0.46);
    width: 200px;
    height: 100px;
    
}
.textp{ 
    display: flex;
    font-family: fantasy;
    font-size: 40px;
}
.texth1{
    display: flex;
    font-family: fantasy;
    font-size: 40px;
    color: beige;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
   
}

.container .card{
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.592);
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;
    margin-bottom: 200px;

    width: 100%;
    height: 200px;
}
 h2{
     
     font-size: 35px;
     color: brown;
 }

 .btn{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100px;
    
 }

 .bbt{
    background-color: rgba(15, 15, 15, 0.745);
    border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;

     width: 200px;
     height: 100px;

     margin: 10px;

     text-decoration: none;
 }

 .bbt:hover{

     background-color: rgba(83, 90, 90, 0.208);
 }

.bbt h2{
    color: #fff ;
}

a{
    text-decoration: none;

    color: #fff;
 }